[submodule ".github/reusable_scripts"]
    path = .github/reusable_scripts
    url = https://github.com/Cosmian/reusable_scripts.git
    branch = develop
[submodule "kms"]
    path = kms
    url = https://github.com/Cosmian/kms.git
[submodule "findex-server"]
    path = findex-server
    url = https://github.com/Cosmian/findex-server.git
